/* ==========================================================================
  VARIABLES
========================================================================== */
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
/* line 23, ../sass/screen.scss */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #041527;
}

/* line 32, ../sass/screen.scss */
ul,
p {
  margin: 0;
}

/* line 36, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 46, ../sass/screen.scss */
input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
  outline: none;
}

/* line 52, ../sass/screen.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 56, ../sass/screen.scss */
a:focus {
  outline: none;
}

/* line 60, ../sass/screen.scss */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 66, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */
}

/* line 74, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 78, ../sass/screen.scss */
.left {
  float: left;
}

/* line 82, ../sass/screen.scss */
.right {
  float: right;
}

/* line 86, ../sass/screen.scss */
.no-mg {
  margin: 0 !important;
}

/* line 90, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 94, ../sass/screen.scss */
.container {
  padding: 0 56px;
}

/* ==========================================================================
    HEADER
========================================================================== */
/* line 102, ../sass/screen.scss */
.header {
  height: 98px;
  background-color: #373c3f;
}

/* line 108, ../sass/screen.scss */
.nav a {
  font-size: 15px;
  line-height: 98px;
  color: white;
  text-transform: uppercase;
}

/* line 117, ../sass/screen.scss */
.nav-inline li {
  display: inline-block;
  margin-left: 25px;
}
/* line 122, ../sass/screen.scss */
.nav-inline li:first-child {
  margin-left: 0;
}
