@import "compass";
@import "compass/css3";

$white: #fff;
$black: #000;
$outerSpace: #373c3f;
$java: #16b1c4;
$blueChill: #088ca5;
$balticSea: #27212c;
$mediumRedViolet: #bc3183;
$blueGem: #5b0fa1;
$gallery: #ebebeb;
$amethystSmoke: #9787a6;

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-family: 'Montserrat', Arial, sans-serif;
}

.page-wrapper {
    min-width: 320px;
    overflow: auto;
}

ul,
p {
    margin: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
    outline: none;
}

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

a:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1; /* IE < 8 */
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.lnk-block {
    display: block;
}

@mixin block-colored($color) {
    background: $color;
    transition: all .5s;

    &:hover {
        background-color: lighten($color, 10%)
    }
}

.bg-blue {
    @include block-colored($java);
}

.bg-pink {
    @include block-colored($mediumRedViolet);
}

.bg-violet {
    @include block-colored($blueGem);
}

.bg-dark-gray {
    background-color: $balticSea;
}

.bg-light-gray {
    background-color: $gallery;
}

/*  HEADER
========================================================================== */

.header {
    height: 98px;
    background-color: $outerSpace;
}

.nav {
    a {
        color: $white;
        text-transform: uppercase;
        transition: all .3s;

        &:hover {
            color: $mediumRedViolet;
        }
    }
}

/* MAIN
========================================================================== */

.title-big {
    color: $white;
    margin: 0;
}

.lnk-address {
    display: inline-block;
    color: $white;
    opacity: 0.5;
}

.block-middle {
    color: $amethystSmoke;
}

.floated {
    float: right;
    text-align: center;
}

.title {
    color: $blueChill;
}

.text {
    color: #515151;
}

.arrow {
    margin: 0 auto;
}

.arrow-inline {
    display: inline-block;
}


$block-ratio: 550/640;

.block-with-ratio {
    display: block;
    position: relative;
    float: left;
    width: (100%) / 3;

    img {
        display: block;
    }

    @media (max-width: 640px) {
        width: 100%;
        float: none;
    }

    &:before {
        content: "";
        display: block;
        padding-top: (100%) * $block-ratio;
    }
}

.arrow-small.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 -10px 0;
}

.btn-nav {
    font-size: 40px;
    text-decoration: none;
    transition: all .4s;

    &:hover {
        color: $mediumRedViolet !important;
    }
}

/* ==========================================================================
    MEDIA QUERIES
========================================================================== */

@media only screen
and (max-width : 820px) {

    .header {
        position: relative;

        h2,
        .btn-nav {
            color: $white;
        }
    }

    .nav {
        background-color: $outerSpace;
        position: absolute;
        right: -100%;
        transition: right ease-out .5s;

        li {
            display: block;
            margin: 0;
        }

        a {
            display: block;
            padding: 0 20px;
        }

        &.is-opened {
            display: block;
            right: 0;
        }
    }
}

@media only screen
and (max-width : 500px) {
    .pad {
        padding: 0 18px;
    }

    .pad-top {
        padding: 15px 18px;
    }

    .header {
        height: 36px;

        h2,
        .btn-nav {
            line-height: 36px;
        }

        h2 {
            font-size: 14px;
        }

        .btn-nav {
            font-size: 20px;
        }
    }

    .nav {
        top: 36px;

        a {
            height: 36px;
            line-height: 36px;
            font-size: 12px;
        }
    }

    .arrow-small {
        width: 10px;
        height: 14px;
    }

    .arrow-big {
        width: 12px;
        height: 18px;
    }

    .block-big {
        height: 195px;
        padding-top: 55px;
    }

    .title-big {
        width: 234px;
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 14px;
    }

    .lnk-address {
        width: 216px;
        font-size: 12px;
    }

    .block-middle {
        height: 76px;
        line-height: 76px;
        font-size: 11px;
    }

    .floated {
        width: 76px;
        height: 76px;
        line-height: 87px;
    }

    .arrow-small.absolute-center {
      margin: -6px 0 -11px 0;
    }

    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .text-cols {
       column-count: 1;
       column-gap: 50px;
    }

    .text {
        font-size: 12px;
        line-height: 20px;
        p {
            margin-bottom: 20px;
        }
    }
}

@media only screen
and (min-width : 501px)
and (max-width : 820px) {

    .pad {
        padding: 0 35px;
    }

    .pad-top {
        padding: 25px 35px;
    }

    .header {
        height: 74px;

        h2,
        .btn-nav {
            line-height: 74px;
        }
    }

    .nav {
        top: 74px;

        a {
            height: 40px;
            line-height: 40px;
            font-size: 15px;
        }
    }

    .block-big {
        height: 360px;
        padding-top: 118px;
    }

    .title-big {
        width: 435px;
        font-size: 34px;
        line-height: 43px;
        margin-bottom: 24px;
    }

    .lnk-address {
        width: 370px;
    }

    .block-middle {
        height: 150px;
        line-height: 150px;
        font-size: 15px;
    }

    .floated {
        width: 150px;
        height: 150px;
        line-height: 180px;
    }

    .arrow-small {
        width: 17px;
        height: 25px;
    }

    .arrow-big {
        width: 25px;
        height: 35px;
    }

    .arrow-small.absolute-center {
      margin: -9px 0 -12px 0;
    }

    .text-cols {
       column-count: 1;
       column-gap: 50px;
    }

  .text {
        p {
            margin-bottom: 15px;
        }
    }
}

@media only screen
and (min-width : 821px) {

    .pad {
        padding: 0 56px;
    }

    .pad-top {
        padding: 46px 56px;
    }

    .header {
        position: static;
        height: 98px;
    }

    .nav-mobile {
        display: none;
    }

    .nav {
        display: block;
        a {
            font-size: 15px;
            line-height: 98px;
        }

        li {
            display: inline-block;
            margin-left: 25px;
        }

        li:first-child {
            margin-left: 0;
        }
    }

    .block-big {
        height: 580px;
        padding-top: 190px;
    }

    .title-big {
        width: 700px;
        font-size: 55px;
        line-height: 70px;
        margin-bottom: 40px;
    }

    .lnk-address {
        width: 620px;
        font-size: 30px;
    }

    .block-middle {
        height: 240px;
        font-size: 25px;
        line-height: 240px;
    }

    .floated {
        height: 240px;
        width: 230px;
        .arrow {
            line-height: 235px;
        }
    }

    .title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 14px;
        line-height: 26px;
        p {
            margin-bottom: 40px;
        }
    }

    .text-cols {
       column-count: 2;
       column-gap: 50px;
    }

    .arrow-small {
        width: 20px;
        height: 30px;
    }

    .arrow-big {
        width: 30px;
        height: 40px;
    }
}
